  h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: $brandon-light;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    font-size: 25px;
    font-weight: 100;
  }
    h2{
      font-size: 30px;
      color: grey;
      text-align: center;
    font-family: $brandon-light;
    }
    p{
      font-size: 1.1em;
      font-weight: 300;
    }
