---
title: Pure Club - Restaurant
---


<div id="banner" class="row">

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="fade-and-slide" class="thumbnail" id="HomeRestaurant">
        <a href="Restaurant.html" class=""><h1>PURE RESTAURANT</h1></a>
  </div>
  </div>

<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="fade-and-slide" class="thumbnail" id="HomeClub">
    <a href="#" class=""><h1>PURE CLUB</h1></a>
  </div>
  </div>

<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="fade-and-slide" class="thumbnail" id="HomeAperitif">
    <a href="Restaurant.html" class=""><h1>PURE APERITIVO</h1></a>
  </div>
  </div>

</div>

