---
title: Pure - Restaurant
---
<div id="banner">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <% link_to "/aperitivo.html"do %>
                <i class=""></i>Aperitivo
              <% end %>
            <li>
              <% link_to "/club.html"do %>
                <i class=""></i>Club
              <% end %>
</div>
</div>
<div>
<%= image_tag "restaurant.jpg" %>
</div>
<div>
  <div class="container text-center" id="restaurant_desc">
          <h2>Le Pure restaurant</h2>
        </div>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque velit in arcu volutpat, eget ultrices augue euismod. Praesent congue nisl eu massa venenatis aliquam. Aliquam laoreet magna ut finibus elementum. Mauris risus tortor, molestie a vehicula a, lacinia eget urna. Vestibulum pretium lorem arcu. Nullam ac neque facilisis, efficitur nibh quis, faucibus dui. Aenean vehicula sem a dictum tincidunt. Curabitur nec sapien nec erat auctor ultricies ac a nibh. Donec a varius nunc. Pellentesque ut laoreet risus. Integer quis lectus a mauris convallis aliquet. </span>
      </div>

<div class="text-center padded smooth-scrollable" id="menu">
  <h2>Retrouvez le menu de saison du Pure Restaurant</h2>
</div>

